<a href="https://colab.research.google.com/github/prabirdeb/Cardiovascular-Risk-Prediction/blob/main/Cardiovascular_Risk_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Cardiovascular Risk Prediction**

# **Steps of Exploratory Data Analysis (EDA)**

**1. Data or EXPERIENCE**

Here, we are provided with a dataset of cardiovascular disease.

Thus, the dataset is actually a collection of experiences about patients with cardiovascular disease. 

Now, we need to **decode the set of experiences** to help in building a model for Cardiovascular Risk Prediction.

At first, we import the libraries or functions for **making our journey easy** and then **get connected** to the set of experiences.

In [1]:
#importing libraries
import numpy as np
import pandas as pd
from termcolor import colored

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Reading the data as pandas dataframe
cardio_df=pd.read_csv('/content/drive/MyDrive/Almabetter Assignments/Capstone projects/Cardiovascular Risk Prediction-Prabir Debnath/data_cardiovascular_risk.csv')

**2. Features or "DHARMA":**

Here, the columns are the set of features, showing the way to reach final decoded experience or conclusions.  

As there is a huge no. of experiences, we cannot see the whole lot of experiences and therefore we find the features on the **data head**.

In [4]:
cardio_df.head(2)

   id  age  education sex  ...    BMI  heartRate  glucose  TenYearCHD
0   0   64        2.0   F  ...    NaN       90.0     80.0           1
1   1   36        4.0   M  ...  29.77       72.0     75.0           0

[2 rows x 17 columns]

**3. Statistics or MEASUREMENTS**

As there is a huge no. of experiences, we take the help of statistics to **measure** each and every features in different dimensions and thus step by step, will find the most important features or the exact way to decode the experiences.

“**what gets measured gets done**“.

In [5]:
cardio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3390 entries, 0 to 3389
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3390 non-null   int64
 1   age              3390 non-null   int64
 2   education        3303 non-null   float64
 3   sex              3390 non-null   object
 4   is_smoking       3390 non-null   object
 5   cigsPerDay       3368 non-null   float64
 6   BPMeds           3346 non-null   float64
 7   prevalentStroke  3390 non-null   int64
 8   prevalentHyp     3390 non-null   int64
 9   diabetes         3390 non-null   int64
 10  totChol          3352 non-null   float64
 11  sysBP            3390 non-null   float64
 12  diaBP            3390 non-null   float64
 13  BMI              3376 non-null   float64
 14  heartRate        3389 non-null   float64
 15  glucose          3086 non-null   float64
 16  TenYearCHD       3390 non-null   int64
dtypes: float64(9), int64(6), object(2)
memory usage: 450.4+ KB

In [6]:
cardio_df.describe()

                id          age  ...      glucose   TenYearCHD
count  3390.000000  3390.000000  ...  3086.000000  3390.000000
mean   1694.500000    49.542183  ...    82.086520     0.150737
std     978.753033     8.592878  ...    24.244753     0.357846
min       0.000000    32.000000  ...    40.000000     0.000000
25%     847.250000    42.000000  ...    71.000000     0.000000
50%    1694.500000    49.000000  ...    78.000000     0.000000
75%    2541.750000    56.000000  ...    87.000000     0.000000
max    3389.000000    70.000000  ...   394.000000     1.000000

[8 rows x 15 columns]

In [7]:
for column_name in cardio_df.columns:
  print(colored(f"Unique values for {column_name}:",'blue', attrs=['bold']))
  print(cardio_df[column_name].unique())

Unique values for id:
[   0    1    2 ... 3387 3388 3389]
Unique values for age:
[64 36 46 50 61 41 55 53 43 44 58 51 56 42 38 63 35 54 62 47 34 39 59 45
 49 60 40 52 48 37 65 57 68 67 33 66 69 70 32]
Unique values for education:
[ 2.  4.  1.  3. nan]
Unique values for sex:
['F' 'M']
Unique values for is_smoking:
['YES' 'NO']
Unique values for cigsPerDay:
[ 3.  0. 10. 20. 30. 35. 40. 15.  9. 60. 17. 25.  5. 43.  7. 50. 19. 18.
  1. 45.  2.  6. nan 11.  8.  4. 14. 16. 23. 13. 12. 70. 38.]
Unique values for BPMeds:
[ 0. nan  1.]
Unique values for prevalentStroke:
[0 1]
Unique values for prevalentHyp:
[0 1]
Unique values for diabetes:
[0 1]
Unique values for totChol:
[221. 212. 250. 233. 241. 272. 238. 295. 220. 326.  nan 210. 213. 227.
 188. 240. 257. 267. 232. 199. 175. 164. 226. 248. 245. 279. 273. 252.
 198. 266. 216. 237. 193. 293. 180. 206. 215. 208. 262. 270. 292. 346.
 202. 340. 334. 351. 235. 243. 196. 275. 186. 190. 268. 234. 264. 156.
 260. 225. 183. 246. 174. 288. 254. 150. 211. 161. 274. 214. 195. 165.
 302. 265. 251. 205. 209. 258. 222. 247. 189. 173. 281. 382. 181. 200.
 244. 218. 261. 229. 291. 312. 170. 176. 290. 204. 239. 162. 314. 194.
 271. 313. 305. 285. 169. 224. 201. 185. 307. 179. 280. 219. 391. 300.
 253. 345. 278. 282. 255. 191. 439. 327. 287. 236. 332. 207. 230. 155.
 335. 325. 223. 231. 197. 184. 310. 157. 228. 166. 303. 320. 163. 259.
 178. 137. 217. 342. 328. 168. 167. 299. 304. 152. 289. 308. 192. 160.
 296. 203. 154. 600. 187. 311. 263. 318. 309. 172. 242. 350. 356. 317.
 696. 315. 269. 171. 177. 249. 256. 344. 286. 284. 322. 333. 158. 294.
 145. 361. 276. 277. 133. 283. 464. 298. 124. 297. 182. 135. 362. 321.
 390. 319. 360. 323. 306. 329. 352. 366. 339. 144. 148. 370. 372. 365.
 331. 330. 113. 143. 159. 392. 353. 367. 316. 153. 398. 149. 453. 119.
 301. 358. 363. 129. 107. 336. 354. 373. 410. 380. 140. 432. 355. 337.
 126. 338. 364.]
Unique values for sysBP:
[148.  168.  116.  158.  136.5 182.  232.  102.  126.  144.  185.  138.
  96.  146.5 160.  146.  163.  129.  122.5 130.  141.  142.  113.  172.5
 107.  105.  122.  155.  134.  152.  142.5 149.  106.5 186.5 114.  104.
 101.  112.  165.  131.  111.  133.  109.  121.5 120.  178.  150.  152.5
 193.  151.  118.5 125.  110.  136.  113.5 127.  115.  108.  103.  124.
 135.  118.  132.  128.  100.  115.5 127.5 123.  174.5 129.5 117.  117.5
 147.  177.5 109.5 157.5 106.  112.5 107.5 137.  124.5 192.  207.  119.
 179.5 157.  176.   90.  140.  159.  150.5 202.  116.5 108.5 158.5 169.
 121.   95.  120.5 156.  145.  141.5 143.5 119.5 131.5 125.5 180.  105.5
 126.5 153.  154.  182.5 166.5 175.  170.  143.   99.  244.  161.5 100.5
 132.5 139.  186.   94.  172.  149.5 137.5 191.  191.5 159.5 160.5 154.5
 164.5 166.  195.  102.5 145.5 185.5  98.  128.5 147.5  97.  190.  212.
 156.5 130.5  96.5 144.5 174.  114.5 167.  210.  202.5 140.5 151.5 148.5
 215.  161.  153.5 180.5 184.  196.  167.5 248.  181.  139.5 135.5 208.
 168.5 134.5  99.5 173.  194.  183.  155.5 204.   83.5 188.  214.  188.5
 123.5 187.  192.5 177.  197.  111.5 162.  164.  230.  169.5 138.5  93.5
 205.  200.  179.  199.   93.  162.5 133.5 189.  171.  198.  163.5 209.
 184.5 295.  235.  197.5 101.5 206.   97.5 110.5 243.  205.5 175.5 187.5
  95.5  85.  220.  217.  213.   92.5 207.5 171.5 104.5  85.5]
Unique values for diaBP:
[ 85.   98.   71.   88.  121.  136.   68.   78.   81.   86.5  62.   97.
 120.   89.  105.   93.   91.   92.   86.   73.   70.   74.5  84.   80.
  82.   70.5  74.   63.   65.   76.   64.  106.   75.5  79.5  89.5  83.
  94.   97.5  75.   57.   90.   87.  103.   96.  104.   82.5  80.5  66.5
 100.   72.   99.   67.5  77.5  85.5  95.   79.   77.   69.   72.5  73.5
 101.5  62.5  96.5  68.5 102.  122.5 114.   60.   84.5 124.  100.5  59.
  88.5 108.   66.   67.   95.5 107.   78.5 101.   92.5  81.5  91.5  98.5
  93.5 109.5  61.   76.5 115.5  87.5  83.5 109.   64.5 104.5  94.5 110.
  55.  102.5  59.5 107.5 130.   61.5 129.   65.5  60.5  58.   48.  106.5
 116.  118.  111.  115.  113.  117.  103.5  71.5  50.  105.5 112.  135.
  54.  112.5 125.   52.  133.  123.  128.  117.5  90.5  63.5  69.5 142.5
 110.5  56.   57.5  53.  124.5 119.  108.5  99.5 127.5  51. ]
Unique values for BMI:
[  nan 29.77 20.35 ... 29.19 19.71 31.09]
Unique values for heartRate:
[ 90.  72.  88.  68.  70.  85.  75.  60.  86.  80.  74. 100.  89.  92.
  82.  87.  58.  79.  78.  76.  69.  59.  67.  50.  73.  66.  65.  62.
 110.  83.  64.  63.  96.  55.  77. 112.  84.  95.  61. 120.  93.  94.
 104.  52.  56.  98. 106.  48.  54.  81. 115. 103.  71. 107.  57. 143.
  91.  45. 102. 108.  53.  47.  nan 125. 105. 122.  51. 140.  97.]
Unique values for glucose:
[ 80.  75.  94.  77.  65.  79.  63.  nan  87.  67.  85. 132.  76. 100.
  70.  60.  73.  81.  68.  66.  78.  96.  72.  61.  69. 103.  92. 105.
  93.  89.  64.  83. 170.  57.  58.  86.  99. 107.  55.  90. 177.  71.
 118.  59.  74.  84.  82.  95. 120. 173.  91. 102. 163.  88.  62. 205.
  97. 115.  98. 268. 104. 137. 106. 348. 110. 122. 108. 255. 140. 124.
 244. 294. 112. 113. 254. 116.  52.  50. 114. 127.  56. 135.  45. 206.
  53. 101. 117. 126. 131. 394. 123. 270. 320. 129. 142.  54. 235.  40.
 150. 136. 191.  44. 119. 109. 121.  43. 256. 145.  47. 297. 166. 172.
  48. 111. 215. 216. 368. 155. 148. 147. 223. 225. 332. 210. 186. 386.
 248. 193. 125. 167. 183. 260. 274.]
Unique values for TenYearCHD:
[1 0]

In [8]:
for column_name in cardio_df.columns:
  print(colored(f"No. of unique values for {column_name}:",'green', attrs=['bold']))
  print(cardio_df[column_name].nunique())

No. of unique values for id:
3390
No. of unique values for age:
39
No. of unique values for education:
4
No. of unique values for sex:
2
No. of unique values for is_smoking:
2
No. of unique values for cigsPerDay:
32
No. of unique values for BPMeds:
2
No. of unique values for prevalentStroke:
2
No. of unique values for prevalentHyp:
2
No. of unique values for diabetes:
2
No. of unique values for totChol:
240
No. of unique values for sysBP:
226
No. of unique values for diaBP:
142
No. of unique values for BMI:
1259
No. of unique values for heartRate:
68
No. of unique values for glucose:
132
No. of unique values for TenYearCHD:
2

In [9]:
for column_name in cardio_df.columns:
  print(colored(f"No. of null values for {column_name}:",'magenta', attrs=['bold']))
  print(cardio_df[column_name].isnull().sum())

No. of null values for id:
0
No. of null values for age:
0
No. of null values for education:
87
No. of null values for sex:
0
No. of null values for is_smoking:
0
No. of null values for cigsPerDay:
22
No. of null values for BPMeds:
44
No. of null values for prevalentStroke:
0
No. of null values for prevalentHyp:
0
No. of null values for diabetes:
0
No. of null values for totChol:
38
No. of null values for sysBP:
0
No. of null values for diaBP:
0
No. of null values for BMI:
14
No. of null values for heartRate:
1
No. of null values for glucose:
304
No. of null values for TenYearCHD:
0

In [ ]:
# Finding out the final important columns considering type of unique values, less no. of unique values and less no. of null values
# No columns to remove

**4. Data Cleaning**

Now we can create a clean experience set with important features. 

In this step, we treat the missing values or "?" values through imputation if required.

If there is any string containing a Python literal in any of the important feature, we must evaluate them

We may also create new feature if found important during the analysis.

We check the statistics further on clean data.

In [10]:
for column_name in cardio_df.columns:
  print(colored(f"Value counts for {column_name}:", attrs=['bold']))
  print(cardio_df[column_name].value_counts())

Value counts for id:
2047    1
2576    1
2624    1
573     1
2620    1
       ..
1122    1
3167    1
1118    1
3163    1
0       1
Name: id, Length: 3390, dtype: int64
Value counts for age:
40    148
42    145
41    144
46    140
39    139
44    135
48    134
45    131
43    127
38    119
52    118
55    116
50    115
51    114
53    114
47    108
54    107
49    104
57     97
60     95
58     95
59     93
63     93
56     92
61     87
62     80
36     75
64     75
37     73
65     43
67     33
66     30
35     29
34     16
68     14
69      5
33      4
70      2
32      1
Name: age, dtype: int64
Value counts for education:
1.0    1391
2.0     990
3.0     549
4.0     373
Name: education, dtype: int64
Value counts for sex:
F    1923
M    1467
Name: sex, dtype: int64
Value counts for is_smoking:
NO     1703
YES    1687
Name: is_smoking, dtype: int64
Value counts for cigsPerDay:
0.0     1703
20.0     606
30.0     176
15.0     172
10.0     106
9.0      104
5.0      103
3.0       79
40.0      62
1.0       48
25.0      44
43.0      42
35.0      17
2.0       17
6.0       14
8.0       10
7.0        8
60.0       8
18.0       7
4.0        7
50.0       6
17.0       5
23.0       5
11.0       4
13.0       3
12.0       3
19.0       2
45.0       2
16.0       2
14.0       1
38.0       1
70.0       1
Name: cigsPerDay, dtype: int64
Value counts for BPMeds:
0.0    3246
1.0     100
Name: BPMeds, dtype: int64
Value counts for prevalentStroke:
0    3368
1      22
Name: prevalentStroke, dtype: int64
Value counts for prevalentHyp:
0    2321
1    1069
Name: prevalentHyp, dtype: int64
Value counts for diabetes:
0    3303
1      87
Name: diabetes, dtype: int64
Value counts for totChol:
240.0    65
210.0    51
220.0    48
260.0    46
232.0    45
         ..
119.0     1
353.0     1
398.0     1
364.0     1
367.0     1
Name: totChol, Length: 240, dtype: int64
Value counts for sysBP:
110.0    87
120.0    85
130.0    85
125.0    69
115.0    68
         ..
205.5     1
188.5     1
212.0     1
207.5     1
180.5     1
Name: sysBP, Length: 226, dtype: int64
Value counts for diaBP:
80.0     213
82.0     123
70.0     109
85.0     107
90.0     100
        ...
51.0       1
53.0       1
54.0       1
50.0       1
127.5      1
Name: diaBP, Length: 142, dtype: int64
Value counts for BMI:
22.91    17
22.54    16
22.19    15
23.48    12
25.09    12
         ..
18.38     1
22.94     1
28.39     1
34.04     1
30.78     1
Name: BMI, Length: 1259, dtype: int64
Value counts for heartRate:
75.0     442
80.0     298
70.0     241
85.0     191
72.0     184
        ...
51.0       1
140.0      1
97.0       1
47.0       1
143.0      1
Name: heartRate, Length: 68, dtype: int64
Value counts for glucose:
75.0     149
83.0     135
70.0     123
77.0     122
80.0     118
        ...
163.0      1
191.0      1
147.0      1
274.0      1
166.0      1
Name: glucose, Length: 132, dtype: int64
Value counts for TenYearCHD:
0    2879
1     511
Name: TenYearCHD, dtype: int64

**5. Data Visualization**

When we know all the important features of our experiences, we can go a step ahead by finding the relationship among features. Here, we take the help of visualization because

**"A picture is worth a thousand words"**

**6. Anomaly Detection**

While, we are finding out the **general formula** from the experiences, we should identify the outlier or **exceptional observations** for all the important features and keep them aside during the analysis.

**7. Conclusion**